 {% extends "layout.html"%}

 {% block body%}
	<div class="img">
		<img src="static/css/images/banner.jpg" height="680px;" width="100%;">
	</div>
	<div class="text">
		<h2>NOW THE WHOLE WORLD, IN MY NEIGHBOURHOOD</h2>
	</div>
	<div>
		<h1 class="head-text">Services At Retail</h1>
	</div>
	<div class="container">
		<div class="card">
			<div class="card_top-1">
				<img src="static/css/images/bank.jpg" width="340px;" height="200px;">
			</div>
			<div class="card_bottom-1">
				<h2>Banking</h2>
				<ul class="oneli">
					<li>Cash Deposit</li>
					<li>Cash Withdrwal</li>
				</ul>
				<ul class="sli">
					<li>Money Transfer</li>
					<li>KYC</li>
				</ul>
				<button>Know More</button>
			</div>
		</div>
		<div class="card">
			<div class="card_top-2">
				<img src="static/css/images/payment.png" width="340px;" height="200px;">
			</div>
			<div class="card_bottom-2">
				<h2>Payment Acceptence</h2>
				<ul class="oneli-2">
					<li>Cash</li>
					<li>Card</li>
				</ul>
				<ul class="sli-2">
					<li>Upi QR</li>
					<li>Aadhaar Pay</li>
				</ul>
				<button>Know More</button>
			</div>
		</div>
		<div class="card">
			<div class="card_top-3">
				<img src="static/css/images/card.png" width="340px;" height="200px;">
			</div>
			<div class="card_bottom-3">
				<h2>More Than Banking</h2>
				<ul class="oneli-3">
					<li>Recharge</li>
					<li>Bill Payment</li>
				</ul>
				<ul class="sli-3">
					<li>Wallet Top Up</li>
					<li>Offers</li>
				</ul>
				<button>Know More</button>
			</div>
		</div>
	</div>
	<div class="featured">
		<h1>Featured</h1>
		<div class="featured-container"> 
			<div class="box1">
				<h2>Government Certificates</h2>
				<img src="static/css/images/govcert.png" width="80%;" height="auto">
				<p>"Make all Government services accessible to the common man in his locality, through common service delivery outlets, and ensure efficiency, transparency, and reliability of such services at affordable costs to realize the basic needs of the common man."</p>
				<button>View</button>
			</div> 
			<div class="box2">
				<h2>Insurance</h2>
				<p>DELUXE MULTISERVICES acquired license from Insurance Regulatory and Development Authority in 2017 to work as an authorized intermediary to market life and non-life insurance products through Our Platform as Rural Authorised Persons.</p>
				<button>Browse</button>
			</div>
			<div class="box3">
				<h2>Travel</h2>
				<img src="static/css/images/travel.jpg" width="80%;" height="auto;">
				<p>Explore the wonderful world</p>
				<button>View</button>
			</div>
		</div>
	</div>
	<section class="info">
		<div class="info-container1">
			<img src="static/css/images/lion.jpg" width="100%;" height="auto;">
			<h1>Top Ranked Excellence & Innovation</h1>
			<p>We provide a wide range of services, high-quality support system and extra-welfare activities.</p>
		</div>
		<div class="info-container2">
			
		</div>
	</section>

	{% endblock %}