<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Deluxe Multiservices</title>
	<link rel="icon" type="text/icon" href="static/css/images/fav.png">
	<link rel="stylesheet" type="text/css" href="static/css/contact.css">
	<link rel="stylesheet" type="text/css" href="static/css/base.css">
	<script src="https://kit.fontawesome.com/61888d3f44.js" crossorigin="anonymous"></script>
</head>
<body>
	<header>
		<div class="container-main">
			<div class="logo">
				<img src="static/css/images/fresh.png" alt="logo">					
			</div>
			<nav>
				<ul>
					<li><a href="/">Home</a></li>
					<li class="ser"><a href="/services">Services</a>
						<div class="drop-down">
							<ul>
								<li><a href="#">Aadhaar</a></li>
								<li><a href="#">Election</a></li>
								<li><a href="#">Pan Card</a></li>
								<li><a href="#">Passport</a></li>
							</ul>
						</div>
					</li>
					<li><a href="/about">About Us</a></li>
					<li><a href="/contact">Contact Us</a></li>
				</ul>
			</nav>			
		</div>
	</header>

	{%block body%}	{% endblock %}

	<footer>
		<div class="footer-container">
			<div class="info-1">
				<p>
					Common Service Centres (CSCs) are a strategic cornerstone of the Digital India programme. They are the access points for delivery of various electronic services to villages in India...
				</p>
					<span class="one"><a href="#"> <i class="fas fa-angle-double-right"></i>Read More</a></span>
				<span>
				<a href="#"><img src="static/css/images/facebook.png" width="32px" height="30px;"></a>
				<a href="#"><img src="static/css/images/linkedin.png" width="32px" height="30px;"></a>
				<a href="#"><img src="static/css/images/twitter.png" width="32px" height="30px;"></a>
				</span>
			</div>
			<div class="info-2">
				<h4 class="no"><span>Import</span>ant Links</h4>
				<ul>
					<li><a href="#"><i class="fas fa-angle-double-right"></i>FI Portal</a></li>
					<li><a href="#"><i class="fas fa-angle-double-right"></i>Digipay</a></li>
					<li><a href="#"><i class="fas fa-angle-double-right"></i>PMGDISHA</a></li>
					<li><a href="#"><i class="fas fa-angle-double-right"></i>NACO | Toll Free No-1097</a></li>
				</ul>
			</div>
			<div class="info-3">
				<h4><span>Miscel</span>laneous</h4>
				<ul>
					<li><a href="#"><i class="fas fa-angle-double-right"></i>Retailer Registration</a></li>
					<li><a href="#"><i class="fas fa-angle-double-right"></i>Newsletter</a></li>
					<li><a href="#"><i class="fas fa-angle-double-right"></i>Information Security</a></li>
				</ul>
			</div>
			<div class="info-4">
				<h4><span>Quick C</span>ontact</h4>
				<ul>
					<li><p>+91-9049438550</p></li>
					<li><p>apnakhan6456@gmail.com</p></li>
					<li><p>Maltekdi Road, Devi Nagar, Degloor Naka, Nanded - 431604, Maharashtra</p></li>
				</ul>
			</div>
		</div>
	</footer>
	<div class="copy">
		<h4>Copyright&copy;2020 Deluxe Multiservices. All rights reserved.</h4>
	</div>
</body>
</html>